.note {
  background: #F8EFB6;
  color: #666;
  width: auto;
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
}

.btn-edit {
  margin-left: 10px;
  font-size: 8pt;
  font-weight: bold;
  cursor: pointer;
  color: #005000;
}

.btn-del {
  margin-left: 10px;
  font-size: 8pt;
  font-weight: bold;
  cursor: pointer;
  color: #e00000;
}