/* styles in src/style directory are applied to the whole page */
body {
  background: #6CD1EA;
  color: #333;
  font-weight: light;
}

a {
  color: #03A9F4;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: block;
}
