body {
  background: #fff;
  color: #333;
  font-weight: light;
}

a {
  color: #03A9F4;
}
hr {
  border: 1px solid #00aaa0;
}
input {
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;
  outline: none;
  border: none;
  box-shadow: inset 0px 0px 7px 0px rgba(112,112,112,1);
}
button.btn {
  background: #00aaa0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;
  outline: none;
  border: none;
}*/
main {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: block;
}
